header {
  background-color: black;
}
.contenido {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card-title {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card-text {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.titulo {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer {
  background-color: black;
}
.Ue {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
