header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: darkgoldenrod;
  text-align: center;
}
aside {
  background-color: darkgoldenrod;
}
nav {
  text-align: left;
}
ul {
  list-style-type: circle;
  color: darkslategrey;
}
a {
  color: darkslategrey;
}
body {
  background-color: darkslategrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(./Fotos/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section.link1 {
  text-align: center;
  color: darkgoldenrod;
}
section.link2 {
  text-align: justify;
  color: darkgoldenrod;
}
dt {
  font-weight: bold;
}
dd {
  text-decoration: underline;
}
footer {
  text-align: center;
  background-color: darkgoldenrod;
  color: darkslategrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  background-color: darkgoldenrod;
}
